<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template</title>
</head>
<body>
    <h1>EJS</h1>
    <ul>
        <% personas.forEach(function (persona){%>
            <li> <%= persona.nombre %> </li>
        <% }) %>
        
    </ul>
    
</body>
</html>